<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Basic.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>POSIX.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>SPMLibc.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>SPMUtility.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>SwiftPMPackageDescription.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>SwiftSyntax.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>SwiftSyntaxPackageDescription.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>_CSwiftSyntax.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>clibc.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>generate-pipeline.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>swift-format-Package.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>swift-format.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>swift-formatPackageDescription.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>swift-formatPackageTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>SwiftPM::Basic</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftPM::POSIX</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftPM::SPMLibc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftPM::SPMUtility</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftPM::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftPM::clibc</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftSyntax::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftSyntax::SwiftSyntax</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>SwiftSyntax::_CSwiftSyntax</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>swift-format::SwiftPMPackageDescription</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>swift-format::swift-formatPackageTests::ProductTarget</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
